@media (min-width: 0px){
    .group-name-container{
        position: absolute;
        left: 0;
        right: 0;
        width: 90%;
        height: 1.6rem;
        margin: auto;
        transform: rotate(-2deg);
    }
    .group-name-bg{
        width: 100%;
        height: 100%;
    }
    .group-name{
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: 'Akira Expanded';
        font-size: 1rem !important;
    }
    .title{
        font-size: 1.4rem;
    }
}
@media (min-width: 576px){
    .group-name-container{
        width: 60%;
    }
    .title{
        font-size: 2.4rem;
    }
}
@media (min-width: 768px){
    .group-name{
        font-size: 1.2rem !important;
        top: 0;
    }
    .title{
        font-size: 3rem;
    }
}
@media (min-width: 992px){
    .group-name-container{
        width: 70%;
    }
    .title{
        font-size: 2.4rem;
    }
}
@media (min-width: 1200px){
    .group-name-container{
        right: -20rem;
        width: 30%;
    }
}

.page-bg{
    background-image: url("../images/indiv-projects-bg-chain.png"), url("../images/indiv-projects-bg.png");
    background-position: top, bottom;
    background-repeat: no-repeat, repeat;
    background-size: contain;
    overflow: hidden;
    padding: 0;
}

.spacer{
    height:10vh;
}

.name-container{
    position: relative;
    text-align: center;
}
.project-name{
    font-family: 'Akira Expanded';
    color: white;
}

.project-short-desc, .project-long-desc{
    font-family: 'DIN';
    color: white;
    font-size: 2vh;
    text-align: left;
}
.project-image{
    object-fit: cover;
    width: 100%;
}

.title-container{
    position: relative;
}
.title-bg{
    object-fit: cover;
    width: 100%;
}
.title{
    position: absolute;
    font-family: 'Akira Expanded';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.plastic{
    background-image: url("../images/plastic.png");
    background-size: cover;
    height: 20vh;
    width: 100%;
}

.ease-anim{
    position: relative;
    opacity: 0;
}
.ease-anim.active{
    opacity: 1;
}
.active.fade-bottom{
    animation: fade-bottom 0.3s ease-in;
}
.active.fade-left{
    animation: fade-left 0.3s ease-in;
}
.active.fade-right{
    animation: fade-right 0.3s ease-in;
}
.drop-in{
    animation: drop-in 1s ease 200ms backwards;
}
.drop-in-2{
    animation: drop-in 1s ease 500ms backwards;
}
.ease-left{
    animation: fade-left 1s ease 500ms;
}
@keyframes fade-bottom{
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-left{
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-right{
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes drop-in {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}


