@font-face{
    font-family: 'Akira Expanded';
    src: url("../fonts/akira expanded/AkiraExpanded.otf");
}

.bg_image2{
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url('C:\Users\Angelica Desales\Downloads\web-2023\src\assets\cs_expo_3.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 2rem;
}

.container{
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;

}

.icon img{
    height: 15rem;
    width: 15rem;

}

h1{
    text-align: center;
    margin-top: 3rem;
    color: white;
    font-size: 6rem;
    font-family: 'Akira Expanded';
}

h2{
    text-align: center;
    margin-top: 6rem;
    color: white;
    font-size: 3rem;
    font-family: 'Akira Expanded';
}