@font-face {
    font-family: "AkiraExpandedDemo";
    src: url("../fonts/AkiraExpandedDemo.otf");
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN.ttf");
}

.partners-container {
    background-image: url("../components/bg-2.png"),
        linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
        );
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "DIN";

    overflow: hidden;
}

h1 {
    font-family: AkiraExpandedDemo;
}

#banner {
    background-image: url("../components/CHAIN-2-SOFT.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.partners-img {
    -webkit-mask-image: url("src/images/mask.png");
    mask-image: url("src/images/mask.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    position: relative;
}

.shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}

#banner p {
    font-size: 1.2rem;
    color: aqua;
}

.chain {
    width: 100%;
    transform: rotate(-3deg);
}

.spacer {
    height: 10vh;
}

.section-bg-1 {
    background-image: url("../components/FW_Paper_Black_27.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 5em black;
    padding: 5em;

    /* opacity: 60%; */
}

.section-bg-1 h4,
.section-bg-2 h4 {
    font-family: AkiraExpandedDemo;
}

.section-bg-2 {
    background-image: url("../components/FW_Paper_Black_26.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 5em black;
}

.card-groups {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
}

@media screen and (max-width: 500px) {
    .section-bg-1 {
        padding: 300px 70px 50px 70px;
        margin: 0px 0 100px 0;
    }
}

@media screen and (max-width: 700px) {
    .chain-container {
        margin-bottom: -260px;
    }
}

@media screen and (max-width: 1000px) {
    .card-groups {
        justify-content: center;
    }
}