@font-face{
    font-family: 'Akira Expanded';
    src: url("../fonts/akira expanded/AkiraExpanded.otf");
}

@font-face{
    font-family: 'DIN';
    src: url("../fonts/din font/din.ttf");
}

.html{
    overflow-x: hidden;
}

.speakers .speakerstitle{

    text-align: center;
    position: relative;
    font-size: 7rem;
    color:#fff;
    font-family: 'Akira Expanded';
    margin:auto;
}

.speakers .speakersparagraph{
    position: relative;
    font-size: 26px;
    color:#fff;
    font-family: 'DIN';
    margin:auto;
    text-align: center;
    padding-left: 30%;
    padding-right:30%;
    padding-top: 1rem;
}

.carousel-item{
    height: auto;
    color: #fff;
    position: relative;
    width: 100%;
}

.container1{

    display: flex;
    flex-wrap: wrap;
    margin-left: 20vh;
    margin-right: 20vh;

}

.header{
    font-size: 3rem;
    font-family: 'Akira Expanded';
    padding-top: 50px;
    padding-left: -50px;
    padding-bottom: 20px;
}
 

.details{
    font-size: 1.3rem;
    font-family: 'DIN';
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 4rem;
    text-align: justify;
}

.picture{
    
    margin-right: 15rem;
    margin-top: 50px;
    float: right;
    width: 600px;
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('C:\Users\Angelica Desales\Downloads\web-2023\src\assets\sample.png');

}


.container2{

    display: flex;
    flex-wrap: wrap;
    margin-left: 20vh;
    margin-right: 20vh;

}

.header2{
    font-size: 3rem;
    font-family: 'Akira Expanded';
    padding-left: -50px;
    padding-top: 50px;
    padding-bottom: 20px;
}
 

.details2{
    font-size: 1.3rem;
    font-family: 'DIN';
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 4rem;
    text-align: justify;
}

.speakers{
    display: flex;
    height:100vh;
    width:100vw;
    right:0;
    bottom:1;
}

.bg_image1{
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url('C:\Users\Angelica Desales\Downloads\web-2023\src\assets\cs_expo_2.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 2rem;
}
