---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/about-us.css';

import faculty from '../assets/about/faculty.json';
import committee from '../assets/about/committee.json';

import CSECarouselFaculty from '../components/CSECarousel/CSECarouselFaculty.astro';
import CSECarouselCommittee from '../components/CSECarousel/CSECarouselCommittee.astro';
---

<BaseLayout>
    <div class="container-fluid about-container text-white text-center">
      <div class="spacer"></div>
        <h1>About CS EXPO 2023</h1>
        <p class="h6">
          The CS Expo showcases diverse students' innovative solutions in areas such as image processing and machine learning, with engaging presentations and insightful discussions. It's a must-attend event for an insightful experience.
        </p>
      <div class="spacer"></div>
    

    <main class="">
      <section class="faculty-container">
        <h1 class="primary-text">
            faculty
        </h1>
      
        <CSECarouselFaculty faculty={faculty} />
      </section>
      <section class="commitee-container">
        <h1 class="primary-text">
          commitee
        </h1>
        <CSECarouselCommittee committees={committee} />
      </section>
    </main>
    </div>
</BaseLayout>