---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/gallery.css';
import '../styles/scroll-animation.css';
---

<style>
    .category-heading {
        text-align: center;
        background-image: url("/images/tape.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        
        padding: 2rem;
    }

    .img-container {
        align-items: center;
    }

    img {
        background-color: white;
        border-radius: 10px;
        padding: 0.5rem;

        object-fit: contain;
        
        transition: transform 0.3s ease;
    }

    img:hover {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
        transform: scale(1.3) rotate(-2deg);
    }
</style>

<BaseLayout>
    <div class="container-fluid gallery-container">
        <header>
            <h1 class="fs-1 p-5 primary-text drop-in">Gallery</h1>
            <p class="secondary-text drop-in-2">In years to come, CS EXPO continues to showcase innovative ideas from CS students. Various groups work together to brainstorm and develop systems to present to the institution, in turn being presented to the public. Here is a glimpse of the previous expos held by CS students in FEU Tech!</p>
        </header>
        <main class="container">
            <p class="category-heading h2 ease-anim fade-bottom">CS EXPO 2022</p>
            <div class="img-container" >
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2022-1.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2022-2.png" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2022-3.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2022-4.png" alt="">
                </div>
            </div>
            <p class="category-heading h2 ease-anim fade-bottom">CS EXPO 2019</p>
            <div class="img-container">
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2019-1.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2019-2.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2019-3.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2019-4.jpg" alt="">
                </div>
            </div>
            
            <p class="category-heading h2 ease-anim fade-bottom">CS EXPO 2018</p>
            <div class="img-container">
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2k18-1.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2k18-2.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2k18-3.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2k18-4.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2k18-6.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2k18-8.jpg" alt="">
                </div>
            </div>
            <p class="category-heading h2 ease-anim fade-bottom">CS EXPO 2017</p>
            <div class="img-container">
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2k17-1.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2k17-2.png" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2k17-3.jpg" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2k17-4.png" alt="">
                </div>
                <div class="list-item ease-anim fade-bottom">
                    <img src="/images/previous-csexpo/2k17-5.jpg" alt="">
                </div>
            </div>
        </main>
    </div>
    <script src="../scripts/scroll-animation.js"></script>
</BaseLayout>