---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/gallery.css';
---

<BaseLayout>
    <div class="container-fluid gallery-container">
        <header>
            <h1 class="primary-text">Gallery</h1>
            <p class="secondary-text">In years to come, CS EXPO continues to showcase innovative ideas from CS students. Various groups work together to brainstorm and develop systems to present to the institution, in turn being presented to the public. Here is a glimpse of the previous expos held by CS students in FEU Tech!
                </p>
        </header>
        <main class="">
            <h2>CS EXPO 2022</h2>
            <div class="img-container" >
                
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2022-1.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2022-2.png" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2022-3.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2022-4.png" alt="">
                </div>
            </div>
            <h2>CS EXPO 2019</h2>
            <div class="img-container">
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2019-1.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2019-2.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2019-3.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2019-4.jpg" alt="">
                </div>
            </div>
            
            <h2>CS EXPO 2018</h2>
            <div class="img-container">
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2k18-1.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2k18-2.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2k18-3.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2k18-4.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2k18-6.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2k18-8.jpg" alt="">
                </div>
            </div>
            <h2>CS EXPO 2017</h2>
            <div class="img-container">
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2k17-1.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2k17-2.png" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2k17-3.jpg" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2k17-4.png" alt="">
                </div>
                <div class="list-item">
                    <img src="src/images/previous-csexpo/2k17-5.jpg" alt="">
                </div>

            </div>
            
            
           
    
        </main>
    </div>
</BaseLayout>