---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<link rel="stylesheet" href="src/assets/gallery.css">
<BaseLayout>
    <div class="chain">
        <img src="src/assets/CHAIN_12_SOFT.png" alt="">
    </div>
    <header>
        <h1 class="primary-text">Gallery</h1>
        <p class="secondary-text">In years to come, CS EXPO continues to showcase innovative ideas from CS students. Various groups work together to brainstorm and develop systems to present to the institution, in turn being presented to the public. Here is a glimpse of the previous expos held by CS students in FEU Tech!
            </p>
    </header>
    <main class="img-container">
        <div class="list-item">
            <img src="src/assets/placeholder-image.png" alt="">
        </div>
        <div class="list-item">
            <img src="src/assets/placeholder-image.png" alt="">
        </div>
        <div class="list-item">
            <img src="src/assets/placeholder-image.png" alt="">
        </div>
        <div class="list-item">
            <img src="src/assets/placeholder-image.png" alt="">
        </div>
        <div class="list-item">
            <img src="src/assets/placeholder-image.png" alt="">
        </div>
        <div class="list-item">
            <img src="src/assets/placeholder-image.png" alt="">
        </div>
        <div class="list-item">
            <img src="src/assets/placeholder-image.png" alt="">
        </div>
        <div class="list-item">
            <img src="src/assets/placeholder-image.png" alt="">
        </div>
        <div class="list-item">
            <img src="src/assets/placeholder-image.png" alt="">
        </div>

    </main>
</BaseLayout>