---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="container">
        <a class="btn btn-primary"href="./projectlist">PROJECT LIST</a>
    </div>
</BaseLayout>