---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="container">
        <a class="btn btn-primary"href="./about-us">About us</a>
    </div>
    <div class="container">
        
    </div>
</BaseLayout>