---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="container">
        <a class="btn btn-primary"href="./about-us">About us</a>
    </div>
    <div class="container">
        <p class="py-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto vel recusandae non similique deleniti ipsam atque labore numquam temporibus, quam unde est repudiandae, asperiores nam velit libero distinctio ab omnis?
        Ipsa id inventore excepturi cum. Vero quisquam obcaecati necessitatibus quaerat explicabo facere eligendi quae doloremque. Autem reprehenderit quaerat enim quos suscipit adipisci quibusdam deleniti, facilis ad nesciunt maxime repellendus nulla.
        Reiciendis ad aliquam consequuntur rem dignissimos nobis? Repellat deleniti quas deserunt provident. Temporibus est doloremque dicta rem delectus vitae vel id ratione fuga aperiam. Deleniti veritatis ipsa voluptatum voluptate perferendis?
        Eius itaque necessitatibus aperiam est sint nulla laudantium velit iste nam magni. Maxime fugit, quo ea fuga assumenda debitis, est voluptate, veniam laboriosam impedit quos repudiandae praesentium vitae laudantium quam!
        Quo consequuntur sequi harum expedita ipsum optio, distinctio nobis dicta nesciunt, alias neque animi labore placeat facilis? Totam laudantium esse voluptatem excepturi non nisi ad, hic numquam dignissimos dolor neque?
        Voluptate, quibusdam voluptatibus. Architecto reiciendis saepe blanditiis repellendus rerum magnam accusantium, possimus, expedita dolorem eos sint necessitatibus. Nesciunt est dolore earum hic natus. Ipsa, asperiores possimus animi corrupti ut voluptas.
        Rerum, rem molestiae. Nisi consectetur sequi, nemo incidunt ratione soluta possimus explicabo qui autem minima similique obcaecati voluptatibus amet maxime in, accusamus nihil quod tempora pariatur perspiciatis illum, reprehenderit cum?
        Rem et explicabo iste unde est perspiciatis quam, ad aspernatur, eligendi non at quia sunt, magnam eveniet error facere fugiat illo? Nisi, repudiandae? Consequatur, quaerat dolorem tempora laudantium ipsam libero?
        Minus eos magnam, provident accusantium nostrum distinctio. Sint quasi eum tenetur, dolores dolorum debitis animi qui accusamus ipsa saepe architecto veniam quo et soluta? Iste similique fugit perspiciatis nihil quibusdam!
        Quos iste reiciendis distinctio eos beatae, dolores ea at dolor nobis doloribus, optio libero, accusamus animi autem cupiditate ut voluptate? Voluptate aperiam deleniti sequi expedita quibusdam pariatur, dicta perspiciatis odio!
        Temporibus facere eaque porro perferendis, optio quasi? Non, dolores in nihil assumenda eaque blanditiis quod velit qui magni esse quas rem atque eveniet ex, voluptatem, ut dolorem eos! Architecto, quaerat!
        Delectus perferendis eos blanditiis quasi! Voluptatem in veniam blanditiis quaerat dicta numquam illum ab soluta nam quasi quia, quas sit placeat veritatis eum hic amet neque beatae. Commodi, quis quisquam!
        Itaque ipsam nulla voluptatum unde, eaque veniam veritatis ut harum quisquam odit. Dignissimos fugit inventore aut sapiente, non dolorum veritatis deleniti, cum ullam tempore quod assumenda, dolor asperiores possimus corrupti?
        Dolorum rerum magnam sapiente officia voluptas! Illum nihil vero dolorum nobis nulla maiores soluta veniam quia sed, odio aperiam amet blanditiis, et perferendis ullam nostrum. Expedita blanditiis eius nihil dolorem.
        Nam quo aspernatur sit excepturi dolor. Quaerat, odio esse tempore tempora cupiditate nulla praesentium. Aspernatur ea, reprehenderit consequuntur harum deserunt labore nostrum ipsa facilis eos nisi, commodi laborum blanditiis cumque.
        Rem aut quae, provident corrupti, nemo cum aspernatur, itaque facere tenetur voluptas repellendus eos reiciendis minus quas dolor saepe corporis natus. Aliquam error eligendi accusamus cum? Cum deserunt fugit iure.
        Incidunt, officia amet. Dolores vel laborum alias sint eligendi ipsam aliquid quae voluptates perspiciatis, tempora quia beatae minus autem cupiditate aliquam accusantium enim quibusdam. Molestias necessitatibus soluta at sit fugit.
        Quas explicabo natus aliquid nulla quos excepturi maxime et consequatur delectus velit adipisci, ducimus amet facilis itaque pariatur architecto cumque recusandae mollitia aperiam. Cum excepturi non facere neque quo? Voluptatum.
        In, minus accusamus illo, cum atque aliquam et facilis eligendi at modi quia officia? Accusamus quas, voluptatem tempora quia veniam possimus expedita nobis asperiores veritatis officiis unde laudantium tempore eius.
        Eaque quisquam, exercitationem amet repudiandae rerum, facilis error temporibus quaerat sit quis incidunt. Quod exercitationem, distinctio eius voluptate doloremque facilis iure iusto dolorum facere sint molestias quae provident alias vitae.
        Quia veniam eligendi natus alias facilis magnam vitae voluptate vel nulla optio sint vero, repudiandae omnis. Fugiat facere sit optio qui iste. Obcaecati pariatur ad earum rerum voluptatibus, iusto sequi!
        Vel quidem vitae nulla officia velit fugiat perferendis minima ad nisi quasi, atque ut eius sequi provident quas, laudantium neque, at culpa quos ab reprehenderit. Architecto fugit excepturi ducimus alias!
        Pariatur magni eius quo modi ab tempora neque dolores, itaque dicta esse dignissimos repudiandae facere incidunt voluptas rem amet rerum accusantium. Voluptatem nesciunt sint hic odit quaerat eos blanditiis voluptates!
        Quibusdam a, corrupti ut porro reprehenderit inventore? Temporibus eius officiis molestiae quae quaerat vel iusto est ea minus, suscipit quasi autem deleniti, itaque laboriosam consectetur adipisci neque doloribus quia eum!
        Harum dolorum aut deserunt est perspiciatis, corrupti assumenda tempore repudiandae vitae atque excepturi quas praesentium autem, voluptates dolore neque pariatur ipsum ratione, eveniet eum earum laudantium cumque vel! Obcaecati, nostrum.
        Hic, corporis natus. Ut iste deleniti autem et voluptate iusto consequatur magni hic ipsam sapiente, veniam officia unde saepe esse dolorum, beatae exercitationem provident accusamus, dicta nihil doloremque mollitia facilis?
        Voluptatem praesentium, alias ipsam accusamus saepe dolorem, repudiandae doloremque maxime facere consectetur, dolor fugiat? Unde hic quae repellat ad et facilis cum laudantium, excepturi, consequatur non, officiis inventore voluptas! Veniam?
        Facere, a quo! Ipsam eius id vero amet voluptates delectus excepturi magnam, temporibus ipsa dicta, at ex fugiat, recusandae a nobis suscipit illum dolore eaque praesentium minus ratione quia optio.
        Nemo mollitia quae maiores dicta id optio autem officiis esse recusandae sequi totam excepturi ipsa, quia ea sit, fugit, facere blanditiis eos. Odio architecto voluptatum deserunt aspernatur, dolore animi corporis?
        Corporis perferendis saepe harum, modi blanditiis aut sed vel, repellendus deleniti provident accusantium, quia officiis doloribus? Officiis, repellat beatae? Assumenda, nihil! Perspiciatis rem perferendis maiores odio ab nesciunt eum illo?</p>
    </div>
</BaseLayout>