---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/home.css';
---

<BaseLayout>
    <div class="container-fluid home-container">
        <div class="container-fluid section-cs-expo">
            <div class="row justify-content-center align-items-center logo-row">
                <div class="logo-container">
                    <img class="img-fluid mx-auto d-block logo" src="src/images/logo-2.png" width="40%">
                    <!-- <div class="date-container">
                        <img class="date-background" src="src/images/FW_Duct_Tape_Gray_03.png">
                        <p class="date">March 14-15</p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="container-fluid section-dev-day">
            <div class="row justify-content-center">
                <div class="col-8">
                    <p class="dev-day-title">DEVDAY</p>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>