---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/individual-projects.css';
---

<BaseLayout title="Project Page">
    <script src="../scripts/individual-projects.js"></script>
    <div class="container-fluid page-bg">
        <div class="spacer"></div>
        <div class="row justify-content-center">
            <div class="col-10 name-container">
                <span class="fs-1 project-name">Project Name</span>
                <div class="group-name-container">
                    <img class="group-name-bg" src="src/images/tape.png">
                    <span class="group-name">Group Name</span>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row justify-content-center">
            <div class="col-10 col-xl-8">
                <p class="project-short-desc drop-in">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptas doloribus ratione magnam, aspernatur commodi ipsum placeat corrupti hic, omnis ex ducimus totam deleniti? Maxime unde eos cumque qui alias.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut vero perferendis est aliquam at nobis a consectetur maxime fuga. Ratione provident maxime quae nihil, sequi fugiat voluptatibus sunt itaque atque.
                </p>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-xl-4">
                <img class="img-responsive project-image drop-in-2" src="src/images/project-border.png">
            </div>
            <div class="col-10 col-xl-6">
                <p class="project-long-desc drop-in-2">
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fugiat ducimus veniam nam ut nisi et explicabo nemo facilis natus est culpa modi, laudantium perferendis blanditiis beatae assumenda reprehenderit. Repellat.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus possimus consequuntur ex, eum aspernatur ratione, ea repellendus dolor nemo aut deserunt voluptate est ab animi rerum! Nulla unde velit dolorem?
                    <br><br>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit quae odit laborum, fugiat aspernatur in ipsa aut excepturi perferendis quos temporibus maxime, non quod nostrum iste suscipit consequatur unde labore!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto ducimus ratione, a itaque quod nisi sint voluptatum soluta vero corporis autem, atque voluptatibus consequatur laboriosam nostrum consequuntur perferendis placeat facere?
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam recusandae sunt dolor in, doloribus, modi aliquid dolores iste, delectus blanditiis nisi facere! Voluptas hic eligendi aliquid? Libero, saepe adipisci?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, cumque! Esse ad, quo dolor explicabo nihil beatae nulla, dolore impedit voluptatibus officia voluptates iusto eos accusamus omnis dicta id quis?             
                    <br><br>
                </p>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row justify-content-center">
            <div class="col-10 col-lg-6 col-xl-4 title-container ease-anim fade-bottom">
                <img class="title-bg" src="src/images/tape.png">
                <span class="title">Developers</span>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row justify-content-center card-container"></div>
        <div class="spacer"></div>
        <div class="col-12 spacer plastic"></div>
    </div>
</BaseLayout>