---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Partners">
    <div class="m-3 p-5 bg-primary text-white rounded">
        <h1>Partners</h1>
        <p>Sample description</p>
      </div>
</BaseLayout>