---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Partners">
  <!-- Start of Banner -->
  <div class="d-flex container flex-wrap">
    <div class="row g-0 justify-content-around align-items-center">
      <div class="mt-5 col-md-5">
        <h1 class="text-white">OUR PARTNERS</h1>
        <p class="text-info">We are delighted to announce that CS EXPO 2023 is made possible by our partnerships with exceptional companies and organizations in the industry. These partners bring valuable knowledge and expertise to the event, ensuring that it is informative, engaging, and impactful. It's an honor to work with them to make this event a success.</p>
      </div>

      <div class="col-md-5 mx-3">
        <img class="w-100" src="https://th.bing.com/th/id/OIP.Xyr9Zw5XAPMmiamYfxaelwHaE8?pid=ImgDet&rs=1" alt="sample-image">
      </div>
    </div>
  </div>
  <!-- End of Banner -->

  <!-- Start of Gold Sponsors -->
  <div class="mt-3 p-5 container">
    <h4 class="text-white p-3">GOLD SPONSORS</h4>
    <div id="gold-card-group" class="card-group">
      <!-- <div class="py-4 card text-center bg-transparent align-items-center" style="border: none !important;">
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden w-25">
          <img class="" src="https://logopond.com/logos/97c275e2d904133b81678ab0446648d7.png" alt="sample">
        </div>

        <div class="card-body text-white">
          <h4 class="card-title">Company Name</h4>
          <p class="card-text">Facebook</p>
          <p class="card-text">Twitter</p>
        </div>
      </div> -->

    </div>
    <!-- End of Gold Sponsors -->

    <!-- Start of Silver Sponsors -->
    <h4 class="text-white p-3">SILVER SPONSORS</h4>
    <div id="silver-card-group" class="card-group"></div>
    <!-- End of Silver Sponsors -->

    <!-- Start of Bronze Sponsors -->
    <h4 class="text-white p-3">BRONZE SPONSORS</h4>
    <div id="bronze-card-group" class="card-group"></div>
    <!-- End of Bronze Sponsors -->

  </div>

  <script>
    // Components
    const goldCardGroup = document.querySelector('#gold-card-group');
    const silverCardGroup = document.querySelector('#silver-card-group');
    const bronzeCardGroup = document.querySelector('#bronze-card-group');

    // Fill Gold sponsors
    for (let i = 0; i < 4; i++) {
      const goldCard = document.createElement('div');
      goldCard.classList.add('py-4');
      goldCard.classList.add('card');
      goldCard.classList.add('text-center');
      goldCard.classList.add('bg-transparent');
      goldCard.classList.add('align-items-center');

      goldCard.style.border = 'none';
      goldCard.innerHTML = `
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden w-25">
          <img class="" src="https://logopond.com/logos/97c275e2d904133b81678ab0446648d7.png" alt="sample">
        </div>

        <div class="card-body text-white">
          <h4 class="card-title">Company Name</h4>
          <p class="card-text">Facebook</p>
          <p class="card-text">Twitter</p>
        </div>`;

      goldCardGroup.appendChild(goldCard);
    }

    // Fill Silver sponsors
    for (let i = 0; i < 4; i++) {
      const silverCard = document.createElement('div');
      silverCard.classList.add('py-4');
      silverCard.classList.add('card');
      silverCard.classList.add('text-center');
      silverCard.classList.add('bg-transparent');
      silverCard.classList.add('align-items-center');

      silverCard.style.border = 'none';
      silverCard.innerHTML = `
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden w-25">
          <img class="" src="https://i.pinimg.com/736x/fa/6d/0e/fa6d0e3fef447a2a5ad05b5cdd397e3f.jpg" alt="sample">
        </div>

        <div class="card-body text-white">
          <h4 class="card-title">Company Name</h4>
          <p class="card-text">Facebook</p>
          <p class="card-text">Twitter</p>
        </div>`;

      silverCardGroup.appendChild(silverCard);
    }

    // Fill Bronze sponsors
    for (let i = 0; i < 4; i++) {
      const bronzeCard = document.createElement('div');
      bronzeCard.classList.add('py-4');
      bronzeCard.classList.add('card');
      bronzeCard.classList.add('text-center');
      bronzeCard.classList.add('bg-transparent');
      bronzeCard.classList.add('align-items-center');

      bronzeCard.style.border = 'none';
      bronzeCard.innerHTML = `
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden w-25">
          <img class="" src="https://i.pinimg.com/originals/19/df/a5/19dfa547459179e0e73cc60ca9bb6a04.png" alt="sample">
        </div>

        <div class="card-body text-white">
          <h4 class="card-title">Company Name</h4>
          <p class="card-text">Facebook</p>
          <p class="card-text">Twitter</p>
        </div>`;

      bronzeCardGroup.appendChild(bronzeCard);
    }
  </script>
</BaseLayout>