---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<link rel="stylesheet" href="src/assets/projectlist.css">
<BaseLayout>
    <div class="projectlist">
        <img class='chain' id='left' src="/src/assets/fw_chain.png" alt="chain">
        <img class='chain' id='right' src="/src/assets/fw_chain.png" alt="chain">
        <div class="content">
            <div class="header">
                <h1 class="title fs-1">COLLECTIONS OF INNOVATIONS</h1>

                <p class="desc fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu nisl sollicitudin, viverra ante in, semper arcu. Fusce libero nisi, vulputate quis tristique semper, convallis in sapien. Etiam tincidunt ligula justo, quis vehicula augue consequat sed. In hac habitasse platea dictumst. Fusce rhoncus nisl a arcu feugiat, eget posuere risus dapibus. Proin quis vestibulum quam. Aliquam volutpat justo sit amet lacus condimentum fringilla. Suspendisse lacinia viverra porttitor. Fusce ut ornare augue, ornare finibus ipsum. Nullam ornare sit amet ligula vel blandit.</p>
            </div>

            <div class="project-list-container">
                <div class="project-item">
                    <img class='project-item-img'src="src/assets/image_placeholder.jpg" alt="placeholder">
                </div>
                <div class="project-item">
                    <img class='project-item-img'src="src/assets/image_placeholder.jpg" alt="placeholder">
                </div>
                <div class="project-item">
                    <img class='project-item-img'src="src/assets/image_placeholder.jpg" alt="placeholder">
                </div>
                <div class="project-item">
                    <img class='project-item-img'src="src/assets/image_placeholder.jpg" alt="placeholder">
                </div>
                <div class="project-item">
                    <img class='project-item-img'src="src/assets/image_placeholder.jpg" alt="placeholder">
                </div>
                <div class="project-item">
                    <img class='project-item-img'src="src/assets/image_placeholder.jpg" alt="placeholder">
                </div>
                <div class="project-item">
                    <img class='project-item-img'src="src/assets/image_placeholder.jpg" alt="placeholder">
                </div>
                <div class="project-item">
                    <img class='project-item-img'src="src/assets/image_placeholder.jpg" alt="placeholder">
                </div>
                <div class="project-item">
                    <img class='project-item-img'src="src/assets/image_placeholder.jpg" alt="placeholder">
                </div>
                <div class="project-item">
                    <img class='project-item-img'src="src/assets/image_placeholder.jpg" alt="placeholder">
                </div>
                <div class="project-item">
                    <img class='project-item-img'src="src/assets/image_placeholder.jpg" alt="placeholder">
                </div>
            </div>

            
        </div>
        <img id='tape' src="/src/assets/FW_Tape_21.png" alt="tape">
    </div>
</BaseLayout>