---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/project-list.css'
---

<BaseLayout>
    <div class="projectlist">
        <div class="content">
            <div class="header container">
                <h1 class="title fs-1">COLLECTIONS OF INNOVATION</h1>
                <p class="desc fs-5">Come and see the diverse range of projects presented by each group at our event. Witness the demonstration of their knowledge and skills, showcasing unique ideas and cool applications in the field of machine learning, image processing, and more. Explore the exciting potential of these cutting-edge technologies and gain inspiration for your own projects.</p>
            </div>
            <div class="project-list-container">
                <div class="project-item" onclick="window.location.href = '/individual-projects';">
                    <img class='project-item-imgs'src="src/images/group-posters/4Bytes.png" alt="placeholder">
                    <h4 id='group-name'>LOC8TE: A Velocity Renovation and Google API as Geofencing Professional Locator & Virtual Space</h4>
                </div>
                <div class="project-item" onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/4Horsemen.png" alt="placeholder">
                    <h4 id='group-name'>EmoBot: A Depression Prevention Android App using Machine Learning</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/AlphaBeta.png" alt="placeholder">
                    <h4 id='group-name'>Liwanag: Emotion Recognition Using Facial Expression for the Visually Impaired</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/BAMM.png" alt="placeholder">
                    <h4 id='group-name'>FIREph: Budget Planner Application using Regression Algorithms</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Bethesda-Boys.jpg" alt="placeholder">
                    <h4 id='group-name'>Codex Learning: A Game-Based Intelligent Tutoring System using Expert-Based Modeling to Measure the Skills and Knowledge of Novice Programmers in Java Programming</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/BroCode.png" alt="placeholder">
                    <h4 id='group-name'>License Plate Recognition with Violation Checker Using Yolo and Tesseract-CNN Algorithm</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/CodeEldrick.jpg" alt="placeholder">
                    <h4 id='group-name'>(B.M.A) Android/iOS Budget Monitoring Application using Predictive Analytics</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/CodePanda.png" alt="placeholder">
                    <h4 id='group-name'>Grocery Dash: A Mobile-based Grocery Shopping Assistant
                        with the Application of the Hamiltonian Path Problem of Graph Theory</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Complaint-Center.png" alt="placeholder">
                    <h4 id='group-name'>An Android Application for Symptom Awareness of Measles, Mumps, and Rubella with Digital Rash Image Detection</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Dijamco-and-Friends.png" alt="placeholder">
                    <h4 id='group-name'>Facial Recognition Attendance System Using Line Detection Algorithm</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/DIREckt.png" alt="placeholder">
                    <h4 id='group-name'>iAksyonPadayon.ph: Emergency Assistance Communication Tracker for Fire, Calamities and Accidents Rescue Application for City Disaster Risk and Rescue Management Office (CDRRMO) in Catbalogan City, Samar using Dijkstra's Algorithm</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/EDITH.jpg" alt="placeholder">
                    <h4 id='group-name'>Chop-In: An Intelligent Piano Performance Assessment Tool using Pattern Matching Algorithms</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/GrabCode.png" alt="placeholder">
                    <h4 id='group-name'>SMR: Image Digitization, Recognition, and Conversion of Sheet Music</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/HBL-HBL-Drivers.png" alt="placeholder">
                    <h4 id='group-name'>Project SavvyMo: Tagalog Transcribing Web Application through the use of Convolutional Neural Network and Long Short-term Memory</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Incognito.png" alt="placeholder">
                    <h4 id='group-name'>Intelligent Chatbot for Barangay Complaint Services using Natural Language Processing, Decision Trees, and Queue</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Kairos.png" alt="placeholder">
                    <h4 id='group-name'>Pet Lifestyle Matcher and Adoption Application Using Recommendation Algorithms</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Kamigami.png" alt="placeholder">
                    <h4 id='group-name'>SENYAS: A Web-based Filipino Sign Language Learning Application with Image Detection  using CNN and Boyer-Moore Algorithm</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/LambdaInvariants.png" alt="placeholder">
                    <h4 id='group-name'>Mutlimodal Generative Design: An Approach to Streamline Design Workflows using Latent Diffusion Model</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/LLP.png" alt="placeholder">
                    <h4 id='group-name'>GURU: A mobile application for yoga practioners using Image Processing and Convulutional Neural Networks (CNN)</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Loveable-Boys.png" alt="placeholder">
                    <h4 id='group-name'>A Secure and Safe Application Using Hybrid Cryptography Based End-to-End Encryption and Explicit Image Filtering</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Nakakapagpabagabag.png" alt="placeholder">
                    <h4 id='group-name'>Android Mobile Application for Detecting Fake Medicine Packaging Through Application of Image Processing</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Providence.png" alt="placeholder">
                    <h4 id='group-name'>Detection and Classification of Malaria: An Image Processing and Deep Learning Program Study</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Quaranteam.png" alt="placeholder">
                    <h4 id='group-name'>CURITY: Emergency/SOS Button for Crime Prevention in Manila</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Samgroupsal.png" alt="placeholder">
                    <h4 id='group-name'>Cobb Angle Digital Measurement Mobile Application: An Object and Landmark detection application for diagnosing scoliosis using Convolutional Neural Network</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Semicolonizers.png" alt="placeholder">
                    <h4 id='group-name'>Area Occupancy Detection using Computer Vision and Machine Learning</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/SixStevenEight.jpg" alt="placeholder">
                    <h4 id='group-name'>Identification of Influencers using a Recommendation System Developed through Social Network Analysis and Graph Theory</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Takoyaki.png" alt="placeholder">
                    <h4 id='group-name'>BAYBAYIN: A Mobile Intelligent Tutoring System to Detect Signs of Functional Speech Sound Disorder in Selected Grade 1 Pupils in Quezon City Learning Proper Filipino Pronunciation</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Tonyong-Bayawak.png" alt="placeholder">
                    <h4 id='group-name'>Developing predictive model using LSTM on AXS for Long- Term AXS Investors</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Vaccshift.png" alt="placeholder">
                    <h4 id='group-name'>iCHOR: Classification of Different Red Blood Cell Abnormalites using Deep Learning</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Version-1.png" alt="placeholder">
                    <h4 id='group-name'>Chat, Meet, Eat - Android Based Social Media Application that Uses an Information Filtering Algorithm and Recommender System for Matching Individuals to Groups</h4>
                </div>
                <div class="project-item " onclick="window.location.href = '#';">
                    <img class='project-item-imgs'src="src/images/group-posters/Visum.png" alt="placeholder">
                    <h4 id='group-name'>Classifying Selected Invasive Plants in the Philippines using Convolutional Neural Network and K-Nearest Neighbor Classifier to Reduce Ecological and Economic Impact</h4>
                </div>
            </div>
        </div>
        <img id='tape' src="/src/assets/FW_Tape_21.png" alt="tape">
    </div>
</BaseLayout>