---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Test page">
    <div class="container">
        <p class="py-5">Hello World!</p>
    </div>
    <style>

        body{
            background-image:url('CS EXPO 2.png');
        }

        </style>
</BaseLayout>