---
export interface Props {
    slug: string,
    name: string,
    image: string
}

const { slug, name, image } = Astro.props;
---

<style>
    .developer-card{
        border: 12px solid #CACACA;
        background-color: #CACACA;
        padding: 0;
        margin: 1rem;
    }   

    .card-img-top{
        object-fit: cover;
        width: 100%;
    }

    .card-text{
        background-color: #CACACA;
        font-family: 'DIN Black';
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    .ease-anim{
    position: relative;
    opacity: 0;
    }

    .ease-anim.active{
        opacity: 1;
    }
</style>

<div class="col-8 col-sm-4 col-md-4 col-xl-2 developer-card ease-anim fade-bottom">
    <img class="card-img-top" src={`/images/group-photos/${slug}/${image}`}/>
    <div class="card-body">
        <p class="card-text">{name}</p>
    </div>
</div>