---

---
<style>			
    .nav-link {
        color: white !important;
        opacity: 0.9;
        transition: 0.2s;
    }

    .nav-link:hover {
        opacity: 0.5;
    }
</style>

<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/#">
            <img src="/images/logo-2.png" alt="CS Expo" width="75" height="40">
        </a>
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-3 mx-2" aria-current="page" href="/#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 mx-2" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 mx-2" href="/partners">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 mx-2" href="/gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 mx-2" href="/about-us">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
