---
export interface Props {
    id?: string
    category_color: string;
    category_name: string;
}

const { id, category_color, category_name } = Astro.props;
---

<style define:vars={{category_color}}>
    .h4 {
        font-family: 'AkiraExpandedDemo', sans-serif;
    }
    
    .cse-sponsor-container {
        background-image: url("/src/images/paper.png");
        background-size: auto;
        background-repeat: repeat;
        background-size: 512px;
        background-color: #0c0c0c;
        box-shadow: inset 0 0 5em black;
    }
    
    #category_name {
        color: var(--category_color);
    }
</style>

<div id={id} class="cse-sponsor-container container-fluid p-5">
    <div class="container">
        <p id="category_name" class="h4 pb-3">{category_name}</p>
        <slot />
    </div>
</div>