---
import '../styles/Partners.css'
---

<section class="bg_image2">
    <h1>OUR PARTNERS</h1>
    <h2>Media Partners</h2>
    <div class="container">
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
    </div>

    <h2>Major Partners</h2>
    <div class="container">
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
    </div>
    
    <h2>Minor Partners</h2>
    <div class="container">
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
        <div class="icon">
            <img src="src/assets/pixel.png" alt="tanginamo astro">
        </div>
    </div>
</section>