---

---

<style>

.speakers .speakerstitle{
    text-align: center;
    position: relative;
    font-size: 7rem;
    color:#fff;
    margin:auto;
}

.speakers .speakersparagraph{
    position: relative;
    font-size: 26px;
    color:#fff;
    margin:auto;
    text-align: center;
    padding-left: 30%;
    padding-right:30%;
    padding-top: 1rem;
}

.carousel-item{
    height: auto;
    color: #fff;
    position: relative;
    width: 100%;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vh;
    margin-right: 20vh;
}

.header{
    font-size: 3rem;
    padding-top: 50px;
    padding-left: -50px;
    padding-bottom: 20px;
}
 

.details{
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 4rem;
    text-align: justify;
}

.picture{
    
    margin-right: 15rem;
    margin-top: 50px;
    float: right;
    width: 600px;
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/sample.png');

}


.container2{

    display: flex;
    flex-wrap: wrap;
    margin-left: 20vh;
    margin-right: 20vh;

}

.header2{
    font-size: 3rem;
    padding-left: -50px;
    padding-top: 50px;
    padding-bottom: 20px;
}
 

.details2{
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 4rem;
    text-align: justify;
}

.speakers{
    display: flex;
    height:100vh;
    width:100vw;
    right:0;
    bottom:1;
}

.bg_image1{
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url('/assets/cs_expo_2.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 2rem;
}

</style>

<section class="speakers">
  <div class="bg_image1">
    <h1 class="speakerstitle">SPEAKERS</h1>
    <p class="speakersparagraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua
    </p>

    <!--CAROUSEL-->
    <!--CAROUSEL INDICATORS: Number of slides-->
    <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li
          data-bs-target="#carouselIndicators"
          data-bs-slide-to="0"
          class="active"
        >
        </li>
        <li data-bs-target="#carouselIndicators" data-bs-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="picture"></div>
          <div class="container1">
            <h1 class="header">Juan Dela Cruz</h1>
            <p class="details">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua, Ut
              enim ad minim veniam, quis nostrud exercitation ullamco labor is
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="picture"></div>
          <div class="container2">
            <h1 class="header2">Juan Dela Cruz</h1>
            <p class="details2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua, Ut
              enim ad minim veniam, quis nostrud exercitation ullamco labor is
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
      <!--CAROUSEL BUTTONS: Prev/Next-->
      <a
        href="#carouselIndicators"
        class="carousel-control-prev"
        role="button"
        data-bs-slide="prev"
      >
        <span class="visually-hidden">Previous</span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a
        href="#carouselIndicators"
        class="carousel-control-next"
        role="button"
        data-bs-slide="next"
      >
        <span class="visually-hidden">Next</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</section>
