---
import '../styles/Speakers.css'
---

    <section class="speakers">
        <div class="bg_image"> 
            <h1 class="speakerstitle">SPEAKERS</h1>
            <p class="speakersparagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>

            <!--CAROUSEL -->
            <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
              <ol class="carousel-indicators">
                <li data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselIndicators" data-bs-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">

                <div class="carousel-item active"> 
                  <div class="picture"></div>
                  <div class="frame"></div>
                    <div class="container1">
                     <h1 class="header">Juan Dela Cruz</h1>
                     <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                      <a href="#" class="btn btn-lg btn-primary">Learn More</a>
                    </div>
               </div>
  
                 <div class="carousel-item"> 
                  <div class="picture"></div>
                  <div class="frame"></div>
                   <div class="container2">
                    <h1 class="header2">Juan Dela Cruz</h1>
                      <p class="details2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                      <a href="#" class="btn btn-lg btn-primary">Learn More</a>
                    </div>
                 </div>
  
              </div>
             <a href="#carouselIndicators" class="carousel-control-prev" role="button" data-bs-slide="prev">
              <span class="visually-hidden">Previous</span>
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             </a>
             <a href="#carouselIndicators" class="carousel-control-next" role="button" data-bs-slide="next">
              <span class="visually-hidden">Next</span>
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
             </a>
            </div>

        </div>
    </section>