---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CSEProjectItem from "../../components/CSEProjectItem.astro";
import "../../styles/project-list.css";

import groups from "../../assets/groups.json";
---

<BaseLayout>
    <div class="projectlist">
        <div class="content">
            <div class="header container">
                <h1 class="title fs-1">COLLECTIONS OF INNOVATION</h1>
                <p class="desc fs-5">
                    Come and see the diverse range of projects presented by each
                    group at our event. Witness the demonstration of their
                    knowledge and skills, showcasing unique ideas and cool
                    applications in the field of machine learning, image
                    processing, and more. Explore the exciting potential of
                    these cutting-edge technologies and gain inspiration for
                    your own projects.
                </p>
            </div>
            <div class="project-list-container">
                
                <!-- For each item in 'groups', put them in CSEProjectItem. (astro) -->
                { Object.keys(groups).map((key) => {
                    const group = groups[key];
                    return (
                        <CSEProjectItem
                            id={key}
                            group_name={group.group_name}
                            poster={`/src/images/group-posters/${group.poster}`}
                            title={group.title}
                        />
                    );
                })}
                <!-- End foreach -->

            </div>
        </div>
        <img id="tape" src="/src/assets/FW_Tape_21.png" alt="tape" />
    </div>
</BaseLayout>
