@import url('https://fonts.cdnfonts.com/css/akira-expanded');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
    background-image: url("bg_4.png");
    overflow-x: hidden;
}

.chain{
    width: 100vw;
    overflow-x: clip;
    z-index: -999;
    top: -100px;
    position:absolute;
}
.chain-1{
    left: 5%;
    transform: rotate(23deg);
    width: min(8vw, 70px);
    height: min(80vh, 1800px);
    position:absolute;
}
.chain-2{
    right: 5%;
    transform: rotate(-23deg);
    width: min(8vw, 70px);
    height: min(80vh, 1800px);
    position:absolute;
  
}
.chain-3{
    right:10%;
    transform: rotate(-50deg);
    width: min(8vw, 70px);
    height: min(80vh, 1800px);
    position:absolute;
}

header{
    width: min(80vw, 800px);
    margin: 4rem auto;
    color: #fff; 

}
header .primary-text{
    font-family: 'Akira Expanded', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 4rem;
    font-size: min(7vw, 3.5rem);
    letter-spacing: 3px;
    text-align: center;

}
header .secondary-text{
    text-align: justify;
    font-size: min(3vw, 1.25rem);
}
.container .primary-text{
    font-family: 'Akira Expanded', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: min(4vw, 2.5rem);
    letter-spacing: 3px;
    text-align: center;
    color: #fff; 
}


@media screen and (max-width: 768px){
    .img-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .img-container{
        margin: 4rem;
    }
    
}
@media screen and (max-width: 576px){
    .img-container img{
        width: min(100%, 300px);
    }
    .img-container{
        margin: 2rem;
    }
    
}
