@import url('https://fonts.cdnfonts.com/css/akira-expanded');
@import url('https://fonts.cdnfonts.com/css/din-2');

.projectlist{
    background-image: url("bg_4.png");
    /* width: 100vw; */
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.header{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header > .title{
    margin: 50px 0;
    text-align: center;
    font-family: 'Akira Expanded', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: min(10vw, 5rem);
    letter-spacing: 3px;
    text-align: center;
}
.header > .desc{
    font-family: 'DIN', sans-serif;
    text-align: center;
}

.project-list-container{

    display: grid;
    align-content: center;
    margin: 6rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
   
}


  


.project-item > img{
    width: 420px;
    height: 594px;
    display: block;
}


.project-item{
    position: relative;
    text-align: center;
    margin: auto auto;
}

#group-name{
    font-family: 'Akira Expanded', sans-serif;
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.project-item:hover{
    cursor: pointer;
}

.project-item:hover #group-name {
    opacity: 1;
}







.chain {
    height: 1000px;
    position: absolute;
}

.chain#left {
    /* bottom: 0; */
    top: -260px;
    right: 100px;
    transform: rotate(-30deg);
}

.chain#right {
    /* bottom: 0; */
    top: -260px;
    left: 100px;
    transform: rotate(30deg);
}

.content {
    z-index: 2;
}

#tape{
   
    width: 100vw;
    display: block;
}

 @media screen and (max-width: 1453px){
    .project-item > img{
        width: 336px;
        height: 475.2px;
    }

}
@media screen and (max-width: 1024px){

    .project-item > img{
        width: 268.8px;
        height: 380.16px;
    }

    .chain{
        height: 800px;
    }

}

@media screen and (max-width: 768px){
    .project-list-container{
        grid-template-columns: auto auto;
        
    }

    .project-item > img{
        width: 241px;
        height: 342px;
    }
    .chain{
        height: 600px;
    }

}
@media screen and (max-width: 576px){
    .project-list-container{
        grid-template-columns: auto;
        
        
    }
    .project-item > img{
        width: 336px;
        height: 475px;
    }

    .chain{
        height: 500px;
    }

} 
 


