.projectlist{
    background-image: url("bg_4.png");
    /* width: 100vw; */
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.header{
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    
    
}

.header > .title{
    margin-bottom: 30px;
    text-align: center;
}
.header > .desc{
    text-align: center;
}

.project-list-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
   
}

.project-item{
    display: flex;
    flex-direction: column;
}

.project-item > img{
    width: 400px;
    height: 400px;
}

.chain {
    height: 1000px;
    position: absolute;
}

.chain#left {
    /* bottom: 0; */
    top: -260px;
    right: 100px;
    transform: rotate(-30deg);
}

.chain#right {
    /* bottom: 0; */
    top: -260px;
    left: 100px;
    transform: rotate(30deg);
}

.content {
    z-index: 2;
}

#tape{
   
    width: 100vw;
    display: block;
}

@media screen and (max-width: 1453px){
    .project-item > img{
        width: 300px;
        height: 300px;
    }

}




@media screen and (max-width: 768px){
    .project-list-container{
        grid-template-columns: auto auto;
    }
    .project-item > img{
        width: 300px;
        height: 300px;
    }
    .header{
        width: 80vw;
    }
    .chain{
        height: 750px;
    }

}
@media screen and (max-width: 576px){
    .project-list-container{
        grid-template-columns: auto;
        
    }
    .project-item > img{
        width: 300px;
        height: 300px;
        margin: auto;
        
    }
    .header{
        width: 80vw;
    }


}