---
import BaseLayout from "./BaseLayout.astro";

export interface DevDayProps {
    title: string;
}

const { title } = Astro.props as DevDayProps;
---

<style>
    .cse-heading {
        height: 600px;
        background-color: rgb(83, 83, 83);
    }
</style>

<BaseLayout title={title}>
    <div class="container-fluid cse-heading">
        <div class="position-relative h-100 container p-5">
            <p class="m-0 p-5 fw-bold text-white display-1 position-absolute start-0 bottom-0" role="presentation">{title}</p>
        </div>
    </div>
    <slot />
</BaseLayout>