---
import BaseLayout from "../../layouts/BaseLayout.astro";

import CSESpeakersPage from "../../components/CSESpeakersPage.astro";

import schedule_dev from "../../assets/schedules/devday.json";

import "../../styles/fonts.css";
---

<style is:global>
    :root {
        --background-color: 47, 47, 47;
    }

    .content {
        background-color: rgb(var(--background-color));
        background-image: url("/images/bg_4.png");
    }

    .cse-header {
        background-color: rgb(var(--background-color));
        background-image: url("/images/events/devday_bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        line-height: 0.4rem;

        height: 800px;
    }

    .cse-header > .cse-header-gradient-overlay {
        background: linear-gradient(
            180deg,
            rgba(var(--background-color), 0) 70%,
            rgba(var(--background-color), 255) 100%
        );
    }

    .tape {
        position: relative;
        color: black;
        font-weight: bolder;
        background-image: url("/images/dt3.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: scale(120%);
    }

    td {
        color: inherit !important;
    }

    a {
        color: white;
    }
</style>

<BaseLayout title="About DEVDAY">
    <div class="container-fluid position-relative cse-header d-flex align-items-center justify-content-center text-white lh-1" >
        <div class="h-100 w-100 position-absolute cse-header-gradient-overlay"></div>
        <div class="cse-text-container py-5 py-sm-0 position-relative start-0 bottom-0 z-1">
            <style>
                .cse-date-sticker {
                    position: absolute;
                    right: 10%;
                    bottom: 20%;
                    transform: rotate(16deg);
                    padding: 0;
                }

                .fs-logo-size {
                    font-size: min(16vw, 9rem);
                }

                .fs-logo-size-sub {
                    
                    font-size: min(8vw, 2rem);
                }
            </style>
            <p class="lh-1 m-0 fs-logo-size-sub font-thedus-wide">// CS EXPO 2023</p>
            <p class="lh-1 fw-bold m-0 font-akira-expanded fs-logo-size">DEVDAY</p>
        </div>
        <div class="cse-date-sticker">
            <div class="p-4 p-lg-5 tape">
                <p class="w-100 m-0 text-center">March</p>
                <p class="w-100 m-0 text-center h1">17</p>
            </div>
        </div>
    </div>

<div class="container-fluid container-spill text-white position-relative">
        <style>
            .container-spill {
                position: relative;
                z-index: 0;
            }

            .container-spill::before {
                content: '';
                position: absolute;
                width: 100%;
                height: calc(100% + 256px);
                background-color: white;

                top: -128px;
                left: 0;

                background-image: url("/images/white_paper_tile.png");
                background-repeat: repeat;
                background-size: 128px 128px;
                mask-image: url("/images/rip_mask.png");
                mask-size: 100% 100%;

                -webkit-mask-image: url("/images/rip_mask.png");
                -webkit-mask-size: cover;
            }
            
            @media only screen and (min-width: 768px) {
                .container-spill::before {
                    -webkit-mask-size: 100% 100%;
                }
            }

            .container-spill > .container {
                position: relative;
                z-index: 1;
            }
        </style>
        <div class="container py-5 text-black">
            <h1>What is DEV DAY?</h1>
            <p>
                DevDay is an exciting addition to the CS EXPO, bringing together 
                technology professionals to discuss the latest advancements in the 
                industry. The event invites seasoned experts to share their 
                knowledge and expertise on a range of relevant topics, covering 
                everything from data analytics to image processing and beyond. With 
                engaging presentations and thought-provoking discussions, attendees 
                can expect to gain valuable insights into the challenges and opportunities 
                facing the technology field today. So if you're looking to expand your 
                knowledge and stay at the forefront of this rapidly-evolving industry, 
                make sure to attend DevDay and join us for an enlightening and 
                informative experience.
            </p>            
        </div>
    </div>

    <div class="container mt-5 py-3 py-md-5 text-white">
        <h1 class="w-100 m-auto text-center text-uppercase py-5 display-2">Speakers</h1> 
        <CSESpeakersPage title="Keynote Title" name="Speaker Name" credential="Speaker Credentials" image_url="https://via.placeholder.com/200" />        
        <CSESpeakersPage title="Talk 1 Title" name="Speaker Name" credential="Speaker Credentials" image_url="https://via.placeholder.com/200" />        
        <CSESpeakersPage title="Talk 2 Title" name="Speaker Name" credential="Speaker Credentials" image_url="https://via.placeholder.com/200" />        
    </div>

    <div class="container py-3 py-md-5 text-white">
        <h1 class="w-100 m-auto text-center text-uppercase py-5 display-2">Schedule</h1>
        <table class="table table-dark table-striped text-white">
            <thead>
                <tr>
                    <th scope="col" class="col-4">Time</th>
                    <th scope="col">Event</th>
                </tr>
            </thead>
            <tbody>
                {
                    schedule_dev.timeslots.map((event) => {
                        return (
                            <tr style={`color: ${event.color};`}>
                                <td>{`${event.time_start} - ${event.time_end}`}</td>
                                <td>{event.event}</td>
                            </tr>
                        )
                    })
                }
            </tbody>
        </table>
    </div>
</BaseLayout>
