---
import BaseLayout from "../../layouts/BaseLayout.astro";

import CSESpeakersPage from "../../components/CSESpeakersPage.astro";
---

<style is:global>
    :root {
        --background-color: 47, 47, 47;
    }

    .content {
        background-color: rgb(var(--background-color));
        background-image: url("/assets/images/bg_4.png");
    }

    .cse-header {
        background-image: url("/assets/images/events/expo_bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        transition: all 0.5s;
        /* padding: 0; */

        height: 800px;
    }    

    .tape {
        position: relative;
        color: black;
        font-weight: bolder;
        background-image: url("/assets/images/dt4.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: scale(120%);
    }
</style>

<BaseLayout title="About CS EXPO 2023">
    <div class="container-fluid position-relative cse-header d-flex align-items-center justify-content-center text-white lh-1" >
        <div class="h-100 w-100 position-absolute"></div>
        <style>
            .cse-expo-logo {
                min-width: 384px;
                min-height: 384px;
                max-width: 1024px;
                max-height: 1024px;
                z-index: 10;
            }

            .cse-header > * > img {
                width: 80%;
            }
        </style>
        
        <img class="cse-expo-logo" src="/assets/images/expo_logo.png" alt="CS Expo 2023 logo">

        <div class="cse-date-sticker">
            <style>
                .cse-date-sticker {
                    position: absolute;
                    right: 10%;
                    bottom: 20%;
                    transform: rotate(16deg);
                    padding: 0;
    
                    z-index: 3;
                }
            </style>
            <div class="p-4 p-lg-5 tape">
                <p class="w-100 m-0 text-center">March</p>
                <p class="w-100 mx-0 my-3 text-center h2">14-15</p>
            </div>
        </div>

        <div class="container w-100 h-100 position-absolute d-flex flex-column align-items-center justify-content-center">
            <img src="/assets/images/events/text_white_thin.svg" role="presentation" class="p-1"/>
            <img src="/assets/images/events/text_white_thin.svg" role="presentation" class="p-1"/>
            <img src="/assets/images/events/text_white_thin.svg" role="presentation" class="p-1"/>
        </div>

    </div>

    <div class="container-fluid container-spill text-white position-relative">
        <style>
            .container-spill {
                position: relative;
                z-index: 0;
            }

            .container-spill::before {
                content: '';
                position: absolute;
                width: 100%;
                height: calc(100% + 256px);
                background-color: white;

                top: -128px;
                left: 0;

                background-image: url("/src/images/white_paper_tile.png");
                background-repeat: repeat;
                background-size: 128px 128px;
                mask-image: url("/src/images/rip_mask.png");
                mask-size: 100% 100%;

                -webkit-mask-image: url("/src/images/rip_mask.png");
                -webkit-mask-size: cover;
            }
            
            @media only screen and (min-width: 768px) {
                .container-spill::before {
                    -webkit-mask-size: 100% 100%;
                }
            }

            .container-spill > .container {
                position: relative;
                z-index: 1;
            }
        </style>
        <div class="container py-5 text-black">
            <h1>What is CS EXPO?</h1>
            <p>
                CS EXPO is a pivotal event highlighting the students' diversity in providing 
                innovative and bright solutions in various areas. Through the students' 
                collaboration and headstrong endeavors, this event serves as a turning point 
                for them to showcase their projects and share their solutions with their technologies, 
                may it be from image processing, facial recognition, machine learning, and so much more! 
                Attendees will get to even know more about the students' projects with their engaging 
                presentations and insightful discussions with panelists. There's so much more to 
                anticipate and more than what meets the eye, so make sure to attend the CS EXPO to 
                brace yourself for a mind-stimulating and insightful experience.
            </p>            
        </div>
    </div>

    <div class="container mt-5 py-3 py-md-5 text-white">
        <h1 class="w-100 m-auto text-center text-uppercase py-5 display-2">Speakers</h1> 
        <CSESpeakersPage title="AI: Assistance or Replacement?" name="Anthony De Luna" credential="President and CEO, Flipside AI" image_url="/src/images/speakers/AnthonyDeLuna.jpeg" />     
    </div>

    <div class="container py-3 py-md-5 text-white">
        <h1 class="w-100 m-auto text-center text-uppercase py-5 display-2">Schedule</h1>
        <ul class="nav nav-pills justify-content-center p-3" id="day-tab" role="tablist">
            <li class="nav-item px-3">
                <button class="nav-link active px-5" id="day-tab-1" data-bs-toggle="tab" data-bs-target="#day-1" type="button" role="tab" aria-controls="day-1" aria-selected="true" aria-current="page">Day 1</button>
            </li>
            <li class="nav-item px-3">
                <button class="nav-link px-5" id="day-tab-2" data-bs-toggle="tab" data-bs-target="#day-2" type="button" role="tab" aria-controls="day-2" aria-selected="false">Day 2</button>
            </li>
        </ul>
        <div class="tab-content container" id="day-tab-content">
            <div class="tab-pane active" id="day-1" role="tabpanel" aria-labelledby="day-tab-1">
                <table class="table table-dark table-striped text-white">
                    <thead>
                        <tr>
                            <th scope="col" class="col-4">Time</th>
                            <th scope="col">Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>07:00 AM to 08:00 AM</td>
                            <td>Registration (for Day 1)</td>
                        </tr>
                        <tr>
                            <td>08:00 AM to 09:00 AM</td>
                            <td>Invocation and Opening Remarks</td>
                        </tr>
                        <tr>
                            <td>09:00 AM to 09:30 AM</td>
                            <td>Keynote Speaker</td>
                        </tr>
                        <tr>
                            <td>09:30 AM to 11:30 AM</td>
                            <td>Speaker 1</td>
                        </tr>
                        <tr>
                            <td>11:30 AM to 12:30 PM</td>
                            <td>Lunch</td>
                        </tr>
                        <tr>
                            <td>12:30 PM to 02:30 PM</td>
                            <td>Speaker 2</td>
                        </tr>
                        <tr>
                            <td>02:30 PM to 03:30 PM</td>
                            <td>Awardings</td>
                        </tr>
                        <tr>
                            <td>03:30 PM to 04:00 PM</td>
                            <td>Closing Remarks</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="day-2" role="tabpanel" aria-labelledby="day-tab-2">
                <table class="table table-dark table-striped text-white">
                    <thead>
                        <tr>
                            <th scope="col" class="col-4">Time</th>
                            <th scope="col">Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>07:00 AM to 08:00 AM</td>
                            <td>Registration (for Day 2)</td>
                        </tr>
                        <tr>
                            <td>08:00 AM to 09:00 AM</td>
                            <td>Invocation and Opening Remarks</td>
                        </tr>
                        <tr>
                            <td>09:00 AM to 09:30 AM</td>
                            <td>Keynote Speaker</td>
                        </tr>
                        <tr>
                            <td>09:30 AM to 11:30 AM</td>
                            <td>Speaker 1</td>
                        </tr>
                        <tr>
                            <td>11:30 AM to 12:30 PM</td>
                            <td>Lunch</td>
                        </tr>
                        <tr>
                            <td>12:30 PM to 02:30 PM</td>
                            <td>Speaker 2</td>
                        </tr>
                        <tr>
                            <td>02:30 PM to 03:30 PM</td>
                            <td>Awardings</td>
                        </tr>
                        <tr>
                            <td>03:30 PM to 04:00 PM</td>
                            <td>Closing Remarks</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</BaseLayout>
